# Groq API Key
GROQ_API_KEY=sua_chave_groq_aqui

# Auth
JWT_SECRET=chave_secreta_jwt
ADMIN_EMAIL=admin@chatbot.com
ADMIN_PASSWORD=admin_disc_2024

# Database (PostgreSQL)
DB_TYPE=postgres
DB_HOST=db
DB_PORT=5432
DB_USERNAME=postgres
DB_PASSWORD=postgres
DB_DATABASE=chatbot_disc
